.circular{
    border-radius: 50%; 
    width: 5%;
    height: auto;
    margin-right:30% ;
 }
 header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: auto 3rem;
    background-color: yellow;
 }
 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
ul li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 1rem;
}
ul li a{
    font-size: 2.2rem;
    color: orangered;
}
#home{
    background-color: yellow;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular2{
    border-radius: 50%; 
    width: 2%;
    height: auto;
}






























@media (max-width:768px) {
    header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: auto 2rem;
        background-color: yellow;
     }
    .circular{
        border-radius: 50%; 
        width: 15%;
        height: auto;
        margin-left:10% ;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
     }
    ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .6rem .3rem;
    }
    ul li a{
        font-size: 1.5rem;
        color: orange;
        margin: 2rem .3rem;
        padding: auto .3rem;
    }
    .circular2{
        border-radius: 50%; 
        width: 2%;
        height: auto;
    }
}