.circular{
    border-radius: 50%; 
    width: 5%;
    height: auto;
    margin-right:30% ;
 }
 header{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}
ul li a{
    font-size: 2rem;
    color: orange;
}
































@media (max-width:768px) {
    .circular{
        border-radius: 50%; 
        width: 15%;
        height: auto;
        margin-left:10% ;
    }
    ul li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .6rem .3rem;
    }
    ul li a{
        font-size: .5rem;
        color: orange;
    }
}